<style>
    body{
        background-color: antiquewhite;
    }
    h1{
        text-align: center;
        font-size: 48px;
        font-style: bold;
    }
    h2{
        text-align: center;
        font-size: 32px;
    }
    li{
        text-align: center;
        list-style-type: none;
    }
    p{
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 50px;
        margin-right: 300px;
        margin-left: 300px;
    }
    .italic-paragraph{
        font-style: italic;
    }
    #emphasized-paragraph{
        font-style: bold;
        font-size: 24px
    }
    img{
        width: 50%;
        height:50%;
        margin: auto;
        display: block;
        padding: 100px;
    }
</style>